# Ignore build artifacts and executables
build/
*.o
*.exe
*.obj
*.dll

# VSCode
.vscode/

# OS files
Thumbs.db
desktop.ini

# OneDrive/Temp and large documents (outside project)
*.pdf
*.docx
*.pptx
*.xlsx
*.iso
*.msi

# Ignore compiled Python caches
__pycache__/
